* {
--gold: #f7b32b;
--blue: #3c31dd;
--red: #dd3f31;
--pink: #ff0066;
--purple: #9904c9;
--light-purple: #d774f8;
--dark-purple: #07000f;
--dark: #0f0f10;
}

.dark-purple {
    background: var(--dark-purple);
}

.light-purple {
    color: var(--light-purple);
}

body {
    margin: 0;
    font-family: 'Alegreya', serif;
 font-family: 'Roboto', sans-serif;
    color: white;
    background: var(--dark-purple);
    /* background: #202731; */
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 10px 20vw;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}

p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--blue);
    transform: translate(-3.7%, 40%);
    z-index: -1;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: var(--dark);
    z-index: -1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 150px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./Images/layered-waves-haikei-purple.svg');
}

.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translateY(-40%);
}

.blob2 {
    visibility: hidden;
}

.logo {
    width: 50%; 
    margin-top: -25%;
}

.purple {
    background-color: var(--purple);
}

.purple > svg {
    margin-left: -21%;
    margin-bottom: -2%;
    margin-top: 5%;
}

.navbar {
    background-color: var(--purple);
    background: var(--purple);
    color: #f7b32b;
}

.giphy-logo {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 20px;
    background: radial-gradient(black 40%, var(--purple));
    border-radius: 40px;
}

.form-sect {
 display: flex;
 flex-direction: column;

}

.form-control {
    width: 100%;
}

.form-head {
    margin-top: -13%;
    text-align: center;
}

form {
    margin-top: -13%;
    border-left: solid 2px var(--purple);
    border-right: solid 2px var(--purple); 
    border-radius: 20px;
    width: 70%;
    padding: 1% 2%;
}

label {
    color: var(--light-purple);
    font-size: 20px;
}

input {
    width: 100%;
}

#search-gif {
    padding: .75rem 2.5rem;
	font-weight: 600;
	/* background: #424242; */
	background: var(--dark-purple);
	color: #fff;
    border-color: var(--light-purple);
	border-radius: 30px;
	font-size: 14px;
	transition: background .55s ease;
	cursor: pointer;
	&:hover {
		background: var(--purple);
	}
}

#new-gif {
    padding: .75rem 2.5rem;
	font-weight: 600;
	/* background: #424242; */
	background: var(--dark-purple);
	color: #fff;
    border-color: var(--light-purple);
	border-radius: 30px;
	font-size: 14px;
	transition: background .55s ease;
	cursor: pointer;
	&:hover {
		background: var(--purple);
	}
}

.results {
    border-right: solid 1px var(--purple);
    border-left: solid 1px var(--purple);
    padding-right: 8%;
    padding-left: 8%;
    margin: 0 20%;
    border-radius: 30px;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 8%; 
    /* border: double 5px var(--purple);  */
    border-radius: 20px;
    background: linear-gradient(#202731, #400453);
}

.resultContainer > img {
    width: 100%;
    object-fit: contain;
}

#gif-wrap {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}

footer {
    margin-top: -13%;
    text-align: center;
}

footer a {
    color: var(--light-purple);
    color: #d774f8;
    text-decoration: none;
}

footer a:hover {
    color: var(--gold);
}

